@import "tailwindcss";

/* 
後ほど、ダークモード実装時に使用

:root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* ヘッダーの高さ共通指定 */
:root {
  --header-height: 65px;
}

/* inputの高さ指定 */
:root {
  --input-height: 65px;
}

/* フッターの高さ共通指定 */
:root {
  --footer-height: 60px;
}

/* 進捗確認 円グラフのサイズ */
:root {
  --progressChart-width: 200px;
  --progressChart-height: 200px;
}

/* globals.css */
.nextjs-portal {
  display: none !important;
}

/* トーストアニメーション（src/app/components/atoms/toast/ConfirmToast.tsx） */
/* TODO フェードアウト実装*/
/* 1) キーフレーム定義 */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@theme {
  --animate-fadeIn: fadeIn 0.3s ease-out;
}

/* Tailwind 用アニメーション */
@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-16px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideUpFade {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-16px) scale(0.95);
  }
}

/* Tailwind v4 の @theme トークンとして登録 */
/* animate-slideDownFade と呼び出し側で記載。*/
@theme {
  --animate-slideDownFade: slideDownFade 0.3s ease-out;
  --animate-slideUpFade: slideUpFade 0.3s ease-in;
}
