@import "tailwindcss";

/* 
後ほど、ダークモード実装時に使用

:root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* ヘッダーの高さ共通指定 */
:root {
  --header-height: 65px;
}


/* フッターの高さ共通指定 */
:root {
  --footer-height: 65px;
}

/* globals.css */
.nextjs-portal {
  display: none !important;
}
