@import "tailwindcss";

/* 
後ほど、ダークモード実装時に使用

:root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* ヘッダーの高さ共通指定 */
:root {
  --header-height: 65px;
}

/* inputの高さ指定 */
:root {
  --input-height: 65px;
}

/* フッターの高さ共通指定 */
:root {
  --footer-height: 60px;
}

/* globals.css */
.nextjs-portal {
  display: none !important;
}
